@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

header {
    background-color: lightgray;
    height: 50px;
}
nav {
    border: 1px dotted black;
    height: inherit;
    display: flex;
    align-items: center;
}
nav > a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
    font-size: 20px;
}
.about_us {
    display: flex;
    justify-content: center;
}
.about_us-description {
    display: flex;
    flex-direction: column;
}
.about_us-description * {
    padding: 5px;
}
.about_us img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
.my_game > * {
    text-align: center;
}
.my_game input, .my_game button {
    border: none;
    margin: 5px;
    min-height: 30px;
}
.my_game button {
    width: max-content;
    background-color: lightgreen;
    padding: 0 10px;
    border-radius: 5px;
}
.my_game input {
    background-color: lightgrey;
    outline: none;
}
.choosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 650px;
}
.choosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.choosed_element {
    border: 3px solid black;
}









